@font-face {
	font-family: Lato;
	src: url( '/assets/fonts/lato-regular-webfont.woff' ) format( 'woff' ),
		url( '/assets/fonts/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '/assets/fonts/lato-light-webfont.woff' ) format( 'woff' ),
		url( '/assets/fonts/lato-light-webfont.ttf' ) format( 'truetype' );
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Inconsolata;
	src: url('/assets/fonts/Inconsolata.woff') format('woff'),
		url( '/assets/fonts/Inconsolata.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
/* 'addons' declared in <head> for cache busting */
.fa {
	display: inline-block;
	font-family: enhance;
	font-style: normal;
}
.fa-lg { font-size: 22px }
.fa-2x { font-size: 28px }
.fa-addons:before { content: "\f581" }
.fa-arrow-down:before { content: "\f601" }
.fa-arrow-up:before { content: "\f600" }
.fa-bars:before { content: "\f51C" }
.fa-check:before { content: "\f51B" }
.fa-chevron-down:before { content: "\f605" }
.fa-eye:before { content: "\f574" }
.fa-folder-refresh:before { content: "\f534" }
.fa-gear:before { content: "\f509" }
.fa-github:before { content: "\f583" }
.fa-info-circle:before { content: "\f561" }
.fa-input:before { content: "\f52A" }
.fa-link:before { content: "\f52C" }
.fa-minus-circle:before { content: "\f563" }
.fa-plus-circle:before { content: "\f564" }
.fa-question-circle:before { content: "\f560" }
.fa-refresh:before { content: "\f526" }
.fa-reset:before { content: "\f527" }
.fa-output:before { content: "\f52B" }
.fa-source:before { content: "\f52A" }
.fa-times:before { content: "\f51A" }
.fa-undo:before { content: "\f523" }
.fa-warning:before { content: "\f562" }
.fa-spin {
	display: inline-block;
	margin-right: 10px;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear
}
@-webkit-keyframes fa-spin {
	0% { -webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% { -webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}
@keyframes fa-spin {
	0% {  -webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% { -webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

body {
	margin: 0;
	font-family: "Lato";
	font-size: 14px;
	font-weight: normal;
	color: #e0e7ee;
	background-color: #000;
}
:focus,
:active,
input::-moz-focus-inner { /* dotted outline */
	outline: 0;
	border: 0;
}
.hide {
	display: none !important;
}
wh, .wh { color: #e0e7ee !important; }
gr, .gr { color: hsl(200,3%,60%)/*cgl*/ !important; }
img {
	border: 0
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
.container {
	max-width: 970px !important;
	margin: 15px auto;
	padding : 0 35px;
}
svg {
	-webkit-filter: drop-shadow( 1px 1px 1px #000000 );
	filter: drop-shadow( 1px 1px 1px #000000 );
}
svg path.st0 {
	fill: hsl(200,100%,40%)/*c*/;
}
svg path.st1 {
	fill: #e0e7ee;
}
#splash {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #000000;
}
#splash svg {
	margin-top: 40vh;
	width: 250px;
}
@media (min-width: 992px) {
	.container {
		width: 970px;
		max-width: calc( 100% - 70px );
	}
}
@media (min-width: 768px) {
	.container {
		width: unset;
	}
}
@media(max-width: 540px) {
	.container {
		padding: 0 10px 15px 10px;
	}
	.boxed-group {
		padding: 10px !important;
	}
}
h1 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-size: 36px;
	font-weight: 300;
	line-height: 40px;
}
.close-root {
	float: right;
	font-size: 28px;
	color: hsl(200,100%,40%)/*c*/;
	text-decoration: none;
	cursor: pointer;
}
#closeprogress {
	margin-top: 0;
}
.disk {
	display: inline-block;
	margin-bottom: 0;
	line-height: 10px;
}
#diskused {
	background: hsl(200,3%,60%)/*cgl*/;
}
#diskfree {
	background: #e0e7ee;
}
#diskunpart {
	background: hsl(200,100%,40%)/*c*/;
}
#issues {
	float: right;
	margin-top: 3px;
}
.bl {
	margin: 15px 0 0 0;
	border-bottom: 1px solid hsl(200,3%,30%)/*cg*/;
}
#list {
	margin: 10px 0;
	list-style: none;
}
#list li:before {
	margin-right: 5px;
	content: '\2022';
}
.source {
	display: block;
	text-align: right;
}
.source i {
	font-size: 18px;
}
.detailtext i {
	color: hsl(200,3%,60%)/*cgl*/;
}
.boxed-group {
	margin: 10px 0;
	padding: 10px 20px;
	border-radius: 6px;
	background: hsl(200,3%,20%)/*cd*/;
}
.boxed-group img {
	max-width: 100px;
}
legend {
	width: 100%;
	margin-bottom: 5px;
	font-size: 14px;
	color: hsl(200,3%,60%)/*cgl*/;
	border-bottom: 1px solid hsl(200,3%,30%)/*cg*/;
}
legend span {
	font-size: 21px;
}
legend p,
legend a {
	display: inline-block;
	line-height: 1em;
}
legend > i:last-child {
	float: right;
}
legend .status {
	font-size: 24px;
}
legend .fa-arrow-up {
	float: right;
}
@media(max-width: 480px) {
	legend .fa-arrow-up {
		display: none;
	}
}
@media(max-width: 360px) {
	h1 span {
		font-size: 26px;
	}
}
#hidescrollv {
	max-height: calc( 100vh - 140px );
	margin-top: 10px;
	overflow: hidden;
}
.detailtext {
	line-height: 18px;
}
.detailtext code {
	padding: 3px;
}
pre {
	display: block;
	max-height: calc(100vh - 140px);
	width: calc( 100% + 30px );
	padding: 10px;
	margin: 0 0 10px;
	background-color: #1a1a1a;
	border: 1px solid #10161c;
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
	line-height: 20px;
	white-space: pre-wrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* ios momentum scroll */
}
code {
	font-family: 'Inconsolata';
	font-size: 14px;
	background-color: hsl(200,3%,10%)/*cda*/;
	padding: 0 3px;
	border-radius: 3px;
}
.thumbnail {
	float: right;
	width: 100px;
	cursor: pointer;
}
a,
a:hover {
	text-decoration: none;
}
a:active,
a:hover {
	outline: 0
}
a,
a:hover,
a:visited {
	color: hsl(200,100%,40%)/*c*/;
}
.btn {
	display: inline-block;
	min-width: 100px;
	margin-bottom: 5px;
	line-height: 34px;
	text-align: center;
	color: #e0e7ee;
	background: -webkit-radial-gradient(50% -50%, 160% 200%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55%); /* button highlight - last % for anti-alias edge*/
	background: radial-gradient(160% 100% at 50% 0% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 55%); /* (Width% Heigth% at H-center_offset% V-center_offset%, hsla(0,0%,100%,1st-T) 1st-area%, hsla(0,0%,100%,2nd-T) 2nd-area%)) */
	box-shadow: 2px 2px 3px 1px #000000;
	text-shadow: 1px 1px 2px #000000;
	border-radius: 4px;
	border: none;
	user-select: none;
}
.btn-primary {
	background-color: hsl(200,100%,40%)/*c*/;
}
.btn-default,
.btn-default.disabled {
	background-color: hsl(200,3%,30%)/*cg*/;
}
.btn i {
	margin-right: 5px;
}
#bottom {
	min-height: calc( 100vh - 205px );
}
#list,
#list li {
	width: fit-content;
	width: -moz-fit-content;
	line-height: 22px;
	color: #e0e7ee;
}
#list a {
	color: #ff8888;
	text-decoration: none;
}
#list li,
.boxed-group legend,
a {
	cursor: pointer;
}
strike {
	text-decoration: line-through;
}
li i,
.revision,
.boxed-group legend i,
.bl,
blue {
	color: hsl(200,100%,40%)/*c*/;
}
span,
pre,
white,
w,
code,
code i {
	color: #e0e7ee;
}
gray,
g {
	color: hsl(200,3%,60%)/*cgl*/;
}
.flushdot {
	height: 0;
	margin: 0;
	color: #1a1a1a;
	overflow: hidden;
}
pre hr {
	margin: 10px 0 -10px -10px;
	border: 1px solid #00ffff;
}
pre hr.hrlight {
	border-width: 0.5px;
}
p,
ul,
.disabled {
	color: hsl(200,3%,60%)/*cgl*/;
}
.disabled:hover {
	color: hsl(200,3%,60%)/*cgl*/;
	background-color: hsl(200,3%,30%)/*cg*/ !important;
	cursor: default;
}
.cbgr { color: #808080; background: #808080; }
.cbw  { color: #ffffff; background: #ffffff; }
.cbc  { color: #00ffff; background: #00ffff; }
.cbm  { color: #ff00ff; background: #ff00ff; }
.cbb  { color: #0000ff; background: #0000ff; }
.cby  { color: #ffff00; background: #ffff00; }
.cbg  { color: #00ff00; background: #00ff00; }
.cbr  { color: #ff0000; background: #ff0000; }
.ckby { color: #000000; background: #ffff00; }
.cwbr { color: #ffffff; background: #ff0000; }
.cgr  { color: #808080 }
.cc   { color: #00ffff }
.cm   { color: #ff00ff }
.cb   { color: #0000ff }
.cy   { color: #ffff00 }
.cg   { color: #00ff00 }
.cr   { color: #ff0000 }

@media( hover:hover ) {
	/* :hover *********************************************************/
	a:hover,
	.close-root:hover,
	#list li:hover {
		color: hsl(200,100%,45%)/*ch*/;
	}
	.btn:hover {
		color: #e0e7ee;
	}
	.btn.disabled:hover {
		color: hsl(200,3%,60%)/*cgl*/;
	}
	.btn-primary:hover {
		background-color: hsl(200,100%,45%)/*ch*/
	}
	.btn-default:hover {
		background-color: hsl(200,3%,40%)/*cgh*/;
	}
	pre *:hover {
		text-decoration: none;
		cursor: text;
		color: inherit;
	}
	/* :active *********************************************************/
	a:active,
	.close-root:active,
	#list li:active {
		color: hsl(200,100%,30%)/*ca*/;
	}
	.btn-primary:active {
		background: hsl(200,100%,30%)/*ca*/;
	}
	.btn-default:active {
		background: hsl(200,3%,20%)/*cga*/;
	}
}
