#banner {
	display: none;
	position: fixed;
	min-width: 230px;
	max-width: 100%;
	bottom: 50px;
	padding: 8px 130px 8px 15px;
	z-index: 100001;
	background: linear-gradient( to right, hsl(200,100%,40%)/*c*/ calc( 100% - 100px ), rgba( 0,0,0,0 ) 100% );
}
#bannerTitle,
#bannerMessage {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#bannerTitle {
	font-size: 20px;
	font-weight: 300;
}
#bannerTitle,
#banner .li2,
#banner .time {
	color: #e0e7ee;
}
#bannerTitle i {
	width: 23px;
	height: 23px;
	margin-right: 5px;
	text-align: center;
}
#bannerMessage {
	font-size: 16px;
}
#bannerTitle i,
#bannerMessage,
#banner .time,
#banner .li2 {
	color: hsl(200,3%,20%)/*cd*/ !important;
}
#banner .time {
	margin-left: 10px;
}
#banner .li1,
#banner .li2 {
	display: block;
}
#banner .li2 {
	font-size: 13px;
}
