@font-face {
	font-family: Lato;
	src: url( '/assets/fonts/lato-regular-webfont.woff' ) format( 'woff' ),
		url( '/assets/fonts/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '/assets/fonts/lato-bold-webfont.woff' ) format( 'woff' ),
		url( '/assets/fonts/lato-bold-webfont.ttf' ) format( 'truetype' );
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '/assets/fonts/lato-light-webfont.woff' ) format( 'woff' ),
		url( '/assets/fonts/lato-light-webfont.ttf' ) format( 'truetype' );
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: enhance;
	src: url( '/assets/fonts/enhance.woff' ) format( 'woff' ),
		url( '/assets/fonts/enhance.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
.fa {
	display: inline-block;
	font-family: enhance;
	font-style: normal;
}
.fa-lg { font-size: 22px; line-height: 18px; }
.fa-2x { font-size: 28px; line-height: 24px; }
.fa-addons:before { content: "\f581" }
.fa-airplay:before { content: "\f590" }
.fa-arrow-left:before { content: "\f602" }
.fa-check:before { content: "\f51B" }
.fa-chromium:before { content: "\f584" }
.fa-code:before { content: "\f50C" }
.fa-edit-circle:before { content: "\f566" }
.fa-eye:before { content: "\f574" }
.fa-folder-cascade:before { content: "\f538" }
.fa-gear:before { content: "\f509" }
.fa-gears:before { content: "\f50A" }
.fa-gmusic:before { content: "\f592" }
.fa-info-circle:before { content: "\f561" }
.fa-lan:before { content: "\f552" }
.fa-library:before { content: "\f506" }
.fa-lock:before { content: "\f573" }
.fa-minus-circle:before { content: "\f563" }
.fa-mpd:before { content: "\f582" }
.fa-network:before { content: "\f551" }
.fa-output:before { content: "\f52B" }
.fa-plus:before { content: "\f519" }
.fa-plus-circle:before { content: "\f564" }
.fa-qobuz:before { content: "\f593" }
.fa-question-circle:before { content: "\f560" }
.fa-redo:before { content: "\f524" }
.fa-refresh:before { content: "\f526" }
.fa-reload:before { content: "\f525" }
.fa-rune:before { content: "\f580" }
.fa-save:before { content: "\f542"}
.fa-search:before { content: "\f56A" }
.fa-sliders:before { content: "\f50B" }
.fa-source:before { content: "\f52A" }
.fa-spotify:before { content: "\f594" }
.fa-stopwatch:before { content: "\f547" }
.fa-times:before { content: "\f51A" }
.fa-tidal:before { content: "\f595" }
.fa-undo:before { content: "\f523" }
.fa-upnp:before { content: "\f591" }
.fa-usbdrive:before { content: "\f553" }
.fa-volume:before { content: "\f516" }
.fa-warning:before { content: "\f562" }
.fa-wifi-1:before { content: "\f572" }
.fa-wifi-2:before { content: "\f571" }
.fa-wifi-3:before { content: "\f570" }
.fa-spin {
	display: inline-block;
	margin-right: 10px;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear
}
@-webkit-keyframes fa-spin {
	0% { -webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% { -webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}
@keyframes fa-spin {
	0% {  -webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% { -webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	padding: env( safe-area-inset ); /* disable iPhone X rounded corner padding */
}
body {
	margin: 0;
	font-family: "Lato";
	font-size: 15px;
	line-height: 1.42857143;
	color: #e0e7ee;
	background-color: #000;
	overscroll-behavior: none; /* disable android pull-down refresh */
}
.hide{ display: none !important; }
a,
a:hover {
	color: hsl(200,100%,40%)/*c*/;
	text-decoration: none !important;
}
#hostname {
	width: 230px;
	height: 40px;
	margin-bottom: 10px;
	padding: 10px;
	font-family: "Lato";
	font-size: 15px;
	color: #e0e7ee;
	background-color: #000000 !important;
	border-radius: 4px;
	border: 1px solid hsl(200,3%,30%)/*cg*/ !important;
}
ul {
	margin: 0;
}
.btn {
	margin-bottom: 5px !important;
	color: #e0e7ee;
	border: none;
	border-radius: 4px;
	outline: none !important;
}
.btn-default {
	background-color: hsl(200,3%,30%)/*cg*/;
}
.btn-default:active {
	background: hsl(200,3%,40%)/*cgh*/ !important;
}
.btn-default:focus {
	background: hsl(200,3%,40%)/*cgh*/ !important;
	outline: none !important;
}
.btn-primary {
	background-color: hsl(200,100%,40%)/*c*/;
	border: none;
}
.help-block {
	display: block;
	margin-top: 0;
	margin-bottom: 20px;
	color: #e0e7ee;
}
w, wh, .wh { color: #e0e7ee !important; }
bl, .bl { color: hsl(200,100%,40%)/*c*/ !important; }
gr, .gr, grl { color: hsl(200,3%,60%)/*cgl*/ !important; }
whl,
grl,
.title,
h1,
heading,
headingnoline {
	margin-top: 20px;
	font-weight: 300;
}
heading,
headingnoline {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	line-height: 35px;
	font-size: 24px;
}
heading {
	border-bottom: 1px solid hsl(200,3%,30%)/*cg*/;
}
heading i,
headingnoline i {
	cursor: pointer;
}
@keyframes blinkopaque {
	50% { opacity: 0; }
}
.blink {
	animation: blinkopaque 1.5s linear infinite;
}
#splash {
	display: none;
}
.head {
	position: fixed;
	width: 100%;
	height: 40px;
	padding-right: 10px;
	background: hsl(200,3%,20%)/*cd*/;
	box-shadow: 0px 4px 10px #000000;
	z-index: 100;
}
.page-icon,
#help,
#close {
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	text-shadow: 1px 1px 2px #000000;
	cursor: pointer;
}
.page-icon {
	float: left;
	background: hsl(200,100%,40%)/*c*/;
}
#help,
#close {
	float: right;
}
#help {
	color: hsl(200,3%,60%)/*cgl*/
}
#close {
	font-size: 2em !important;
	color: hsl(200,100%,40%)/*c*/;
	cursor: pointer;
}
.title {
	margin-left: 15px;
	line-height: 40px;
	font-size: 26px;
	letter-spacing: 5px;
}
hr {
	margin: 10px 0;
	border-color: hsl(200,3%,30%)/*cg*/;
	background-color: hsl(200,3%,30%)/*cg*/;
}
#back {
	float: right;
	color: hsl(200,100%,40%)/*c*/;
	cursor: pointer;
}
code {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	color: #e0e7ee;
	background-color: hsl(200,3%,30%)/*cg*/;
	border-radius: 3px;
}
.bl {
	margin: 20px 0 10px 0;
	border-bottom: 1px solid hsl(200,3%,30%)/*cg*/;
}
.noline {
	border-bottom-color: #000000;
}
.brhalf {
	display: block;
	margin: 15px 0;
}
.gr {
	color: hsl(200,3%,60%)/*cgl*/;
}
.grd {
	color: hsl(200,3%,40%)/*cgh*/ !important;
}
.entries {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
.entries i {
	width: 40px;
	font-size: 26px;
	line-height: 40px;
	vertical-align: -2px;
	text-align: center;
	color: hsl(200,3%,60%)/*cgl*/;
}
.entries i:first-of-type {
	margin: 3px 10px 0 0;
}
.entries .fa-save {
	width: 20px;
	font-size: 22px;
}
.entries li {
	display: block;
	height: 49px;
	line-height: 20px;
	font-size: 18px;
	border-bottom: 1px solid hsl(200,3%,20%)/*cd*/;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	user-select: none;
}
.entries li:first-of-type {
	border-top: 1px solid hsl(200,3%,20%)/*cd*/;
}
.remove {
	float: right;
}
.checkbox {
	padding-top: 0 !important;
}
.red {
	color: #f00;
}
.clear {
	clear: both;
}
.green {
	color: #0f0;
}
.blue {
	color: hsl(200,100%,40%)/*c*/ !important;
}
.indent {
	margin: 0 20px;
}
input[type=image] {
	padding: 0;
	border: none !important;
}
.btn-default {
	background: hsl(200,3%,30%)/*cg*/ !important;
}
/* switch: https://codepen.io/mburnette/pen/LxNxNg */
.container input[type=checkbox] {
	position: absolute;
	height: 40px;
	width: 80px;
	opacity: 0;
	z-index: 1;
}
.switchlabel {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 80px;
	height: 40px;
	margin-bottom: 5px;
	background: hsl(200,3%,30%)/*cg*/;
	border-radius: 4px;
	cursor: pointer;
}
.btn-primary,
.switchlabel:after,
input:checked + .switchlabel:after {
	background: -webkit-radial-gradient(
		100% -50%, 300% 190%,
		hsla(0,0%,100%,.3) 50%,
		hsla(0,0%,100%,0) 55% );
	background: radial-gradient(
		225% 90% at 100% 0%,
		hsla(0,0%,100%,.3) 50%,
		hsla(0,0%,100%,0) 55% );
}
.switchlabel:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: hsl(200,3%,20%)/*cga*/;
	box-shadow: 0px 2px 5px #000000;
	border-radius: 4px;
	transition: 0.3s;
}
input:checked + .switchlabel:after {
	background-color: hsl(200,100%,40%)/*c*/;
}
input:checked + .switchlabel:after {
	left: 50%;
}
.switchlabel:active:after {
	width: 40px;
}
.setting,
.settingedit {
	position: absolute;
	left: 90px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	font-size: 26px;
	cursor: pointer;
}
.settingedit {
	position: relative;
	left: 5px;
}
.cg {
	background: hsl(200,3%,30%)/*cg*/;
}
.cga {
	background: hsl(200,3%,20%)/*cga*/ !important;
}
.divqr {
	text-align: left;
	margin-bottom: 10px;
	padding-right: 15px;
}
.qr {
	width: 130px;
	height: 130px;
	margin: 4px 0 7px 0;
	padding: 5px;
	background: #ffffff;
}
.container {
	max-width: 768px;
	padding: 40px 55px 100px 55px;
}
.col-l,
.col-r {
	float: left;
	position: relative;
	vertical-align: middle;
}
.col-l {
	display: inline-block;
	margin-bottom: 5px;
	width: 155px;
	text-align: right;
	padding-right: 15px;
	padding-top: 10px;
}
.col-l.text {
	padding-top: 0;
}
.col-l i {
	width: 30px;
}
.col-r {
	width: calc( 100% - 155px );
	min-width: 230px;
	padding-right: 0;
	padding-left: 0 !important;
	font-weight: normal;
}
.col-r.text {
	float: none;
	width: auto;
	white-space: nowrap;
}
@media (min-width: 768px) {
	.container {
		margin: 0 auto;
	}
}
@media (max-width: 512px) {
	.container {
		padding: 40px 20px 100px 20px;
	}
	.head {
		padding-right: 0 !important;
	}
	.col-l {
		width: 100%;
		padding-top: 5px;
		text-align: left;
	}
	.col-l.text {
		width: auto;
	}
	.col-r {
		padding-top: 0;
	}
	.col-l i {
		float: left;
		margin: 0 0 5px 5px;
	}
}
@media (hover: hover) {
	a:hover {
		text-decoration: none;
	}
	.entries li:hover {
		background: hsl(0,0%,15%)/*bh*/;
	}
}
