@font-face {
	font-family: Lato;
	src: url( '/assets/fonts/lato-regular-webfont.woff' ) format( 'woff' ),
		url( '/assets/fonts/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
*,
*:before,
*:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
:focus,
:active,
input::-moz-focus-inner { /* dotted outline */
	outline: 0;
	border: 0;
}
.infobtn,
.filebtn {
	display: inline-block;
	margin: 0 5px;
	min-width: 70px;
	padding: 0 10px;
	line-height: 34px;
	border: none;
	border-radius: 4px;
	white-space: nowrap;
	font-size: 14px;
	text-align: center;
	color: #e0e7ee !important;
	cursor: pointer;
	user-select: none;
	background: -webkit-radial-gradient(50% -50%, 160% 200%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55%); /* button highlight - last % for anti-alias edge*/
	background: radial-gradient(160% 100% at 50% 0% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 55%); /* (Width% Heigth% at H-center_offset% V-center_offset%, hsla(0,0%,100%,1st-T) 1st-area%, hsla(0,0%,100%,2nd-T) 2nd-area%)) */
	box-shadow: 2px 2px 3px 1px #000000;  /*  V-offfset, H-Offset, Blur width, Shadow width , Color */
}
.infobtn-primary {
	background-color: hsl(200,100%,40%)/*c*/;
}
.infobtn-default {
	background-color: hsl(200,3%,30%)/*cg*/;
}
.infobtn.disabled,
.filebtn.disabled {
	color: hsl(200,3%,60%)/*cgl*/;
	background-color: hsl(200,3%,30%)/*cg*/;
	pointer-events: none;
}
#infoOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(250, 250, 250, 0.85);
	z-index: 100000;
	text-align: center;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
#infoOverlay .fa {
	vertical-align: -2px;
}
#infoButtons .fa {
	font-size: 18px;
	margin-right: 5px;
}
#infoOverlay a {
	text-shadow: 1px 1px 2px #000000;
	text-decoration: none;
}
#infoBox {
	width: 400px;
	max-width: 98%;
	margin: 50vh auto 0;
	background: hsl(200,3%,20%)/*cd*/;
	border-radius: 10px;
	box-shadow: 4px 4px 10px #555;  /*  V-offfset, H-Offset, Blur width, Shadow width , Color */
}
#infoBox i {
	text-shadow: 1px 1px 2px #000000;
}
#infoTopBg {
	width: 100%;
	height: 40px;
	border-radius: 10px 10px 0 0;
	background: black;
}
#infoTop {
	float: left;
	width: calc( 100% - 60px );
	color: #e0e7ee;
	line-height: 40px;
	padding: 0 0 0 15px;
	text-align: left;
}
#infoTop a, white {
	color: #e0e7ee;
}
#infoIcon {
	float: left;
	font-size: 28px;
	line-height: 40px;
	color: hsl(200,3%,60%)/*cgl*/;
}
#infoX {
	float: right;
	width: 40px;
	line-height: 40px;
	border-radius: 0 10px 0 0;
	padding: 0;
	font-size: 28px;
	color: hsl(200,100%,40%)/*c*/;
	cursor: pointer;
}
#infoTitle {
	display: inline-block;
	width: calc( 100% - 38px );
	font-size: 18px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#infoContent {
	padding: 25px 10px 10px 10px;
	font-size: 16px;
}
#infoContent label {
	margin: 0;
	font-weight: normal;
}
#infoMessage {
	width: 100%;
	max-width: fit-content;
	max-height: 800px;
	margin: 0 auto 5px;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
	color: hsl(200,3%,60%)/*cgl*/;
}
.infotextlabel,
#infotextlabel {
	display: inline-block;
	margin-right: 5px;
	line-height: 41px;
	text-align: right;
}
.infotextbox,
#infotextbox {
	display: inline-block;
	width: min-content;
	text-align: left;
}
.infolabel {
	display: block;
	line-height: 40px;
	text-align: right;
	color: #e0e7ee;
}
.infolabel:hover {
	color: #e0e7ee;
}
.infoinput {
	margin: 3px 5px 2px 0 !important;
	height: 36px !important;
	padding: 0 10px;
	color: #e0e7ee;
	background-color: #000000;
	border-radius: 5px;
	border: 1px solid hsl(200,3%,30%)/*cg*/;
	font-size: 16px;
	font-family: "Lato";
}
.infoinput:focus {
	outline: none;
}
.infopasswordbox,
#infoPasswordBox {
	display: inline-block;
}
.eye {
	position: absolute;
	width: 30px;
	text-align: center;
	padding-top: 9px;
	cursor: pointer;
}
.eyeactive {
	color: hsl(200,100%,40%)/*c*/;
}
.infohtml {
	display: table;
	margin: 5px auto 0;
	text-align: left;
}
#infoOverlay input[type=radio],
#infoOverlay input[type=checkbox] {
	width: 24px;
	height: 24px;
	margin: 3px 0;
	vertical-align: -5px;
}
#infoSelect button {
	height: 40px;
	margin-left: 5px;
	padding-right: 25px;
	font-size: 16px;
}
#infoSelect a {
	margin: 0;
	padding-left: 10px;
}
#infoFile {
	display: block;
	margin-bottom: 10px;
}
#infoButtons {
	padding: 10px 0 20px 0;
}
#infoOverlay white,
#infoOverlay code {
	color: #e0e7ee;
}
#infoOverlay code {
	display: inline-block;
	padding: 3px;
	line-height: 14px;
	border-radius: 3px;
	background: #000000;
}

@media( hover:hover ) {
	/* :hover *********************************************************/
	#infoX:hover {
		color: hsl(200,100%,45%)/*ch*/;
	}
	input[type=checkbox],
	input[type=radio],
	.infocheckbox label,
	.inforadio label {
		cursor: pointer;
	}
	.infobtn-primary:hover {
		color: #e0e7ee;
		background-color: hsl(200,100%,45%)/*ch*/;
	}
	.infobtn-default:hover {
		color: #e0e7ee;
		background-color: hsl(200,3%,40%)/*cgh*/
	}
	/* :active *********************************************************/
	#infoX:active {
		color: hsl(200,100%,30%)/*ca*/;
	}
	.infobtn-primary:active {
		background-color: hsl(200,100%,30%)/*ca*/;
	}
	.infobtn-default:active {
		background-color: hsl(200,3%,20%)/*cga*/
	}
}
