ACTION=="add", KERNEL=="card*", SUBSYSTEM=="sound", RUN+="/usr/bin/systemctl start usbdacon.service"
ACTION=="remove", KERNEL=="card*", SUBSYSTEM=="sound", RUN+="/usr/bin/systemctl start usbdacoff.service"
