ACTION=="add", KERNEL=="card*", SUBSYSTEM=="sound", RUN+="/usr/local/bin/usbdac-on.sh"
ACTION=="remove", KERNEL=="card*", SUBSYSTEM=="sound", RUN+="/usr/local/bin/usbdac-off.sh"
