ACTION=="add", KERNEL=="card*", SUBSYSTEM=="sound", RUN+="/usr/local/bin/usbdac.sh on &"
ACTION=="remove", KERNEL=="card*", SUBSYSTEM=="sound", RUN+="/usr/local/bin/usbdac.sh &"
