[Unit]
Description=Local Browser
After=startup.service

[Service]
Type=idle
User=http
ExecStart=/usr/bin/startx
ExecStop=/usr/bin/killall Xorg

[Install]
WantedBy=multi-user.target
