[Unit]
Description=RuneUIe run once
After=php-fpm.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/runonce.sh

[Install]
WantedBy=multi-user.target
