[Unit]
Description=RuneUIe Startup
ConditionDirectoryNotEmpty=/srv/http/data

[Service]
Type=idle
ExecStart=/srv/http/startup.sh

[Install]
WantedBy=multi-user.target
