[Unit]
Description=RuneAudio+R Startup
After=nginx.service

[Service]
Type=oneshot
ExecStart=/srv/http/startup.sh

[Install]
WantedBy=multi-user.target
