[Unit]
Description=Usb Automount (udevil)
After=sound.target

[Service]
User=mpd
Group=audio
ExecStart=/usr/bin/devmon
Restart=always

[Install]
WantedBy=multi-user.target
